body{background-image : linear-gradient(to left, rgb(128, 128, 128), blue);
    text-align: center;
}

h3{
    color: rgb(47, 255, 47);
    font-weight: bolder;
    font-size: 45px;
}

div>em{
    font-size: 18px;
}

button{
    background-color: khaki;
    padding: 5px;
    width: 100px;
    border-radius: 6px;
}

p{
    color: khaki;
}